<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- config path to store log -->
	<property name="LOGS" value="./logs" />
	<property name="MDC" value="%X{UUID}" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%white(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%white(%X{UUID})] %highlight(%-5level) [%blue(%t)] %F%L %green(%C{1.}): %msg%n%throwable
			</Pattern>

		</layout>
	</appender>

	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- config file name -->
		<file>${LOGS}/authen_apiv2.log</file>
		<!-- <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
			<Pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} [%X{UUID}] %-5level [%t] %F%L %C{1.}: %msg%n%throwable </Pattern> </encoder> 
		-->

		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"appname": "authen_apiv2"}
			</customFields>
			<fieldNames>
				<timestamp>@timestamp</timestamp>
				<level>level</level>
				<logger>logger_name</logger>
				<thread>thread_name</thread>
				<message>message</message>
			</fieldNames>
			<includeMdcKeyName>UUID</includeMdcKeyName>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOGS}/authen_apiv2-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- trace => debug => info => warn => error -->
	<root level="info">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</root>

	<logger name="com.br" level="debug" additivity="false">
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
	</logger>

</configuration>